*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.section {
  max-width: 1140px;
  margin: 0 auto; }

.divider {
  max-width: 1140px;
  border: 1px solid #e5e5e5ce; }

@media only screen and (max-width: 75em) {
  .section-fluid {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1080px; } }

.container-none {
  width: 1371px;
  height: 561px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 62.5%; }

p {
  font-family: 'Poppins', sans-serif; }

h3,
h4 {
  font-weight: normal; }

.nav {
  font-size: 1.5rem; }
  .nav--company-name {
    color: #fff !important;
    font-size: 2rem;
    font-weight: bolder; }
  .nav--company-name:hover {
    color: #ffc107 !important; }
  .nav__link:link, .nav__link:visited {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border-bottom 0.2s, border-top 0.2s; }
  .nav__link:hover, .nav__link:active {
    color: #ffc107;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 2px solid #ffc107;
    border-top: 2px solid #ffc107; }
  .nav__bar {
    list-style: none; }

.kits h3 {
  font-size: 3rem; }

.kits p {
  margin-top: 1.2rem;
  font-size: 1.9rem;
  margin-bottom: -1.5rem; }

.kits small {
  font-size: 1.4rem; }

.flavors h3 {
  font-size: 3rem; }

.flavors p {
  margin-top: 1.2rem;
  font-size: 1.9rem;
  margin-bottom: -1.5rem; }

.flavors small {
  font-size: 1.4rem; }

.content h4 {
  font-size: 2.7rem; }

.content p {
  font-size: 1.4rem;
  text-align: center; }

.footer h4 {
  margin-bottom: 2rem; }

.footer li {
  list-style: none; }

.footer a {
  color: #6d6d6d;
  font-size: 1.4rem;
  text-decoration: none; }
  .footer a:hover {
    color: black; }

.footer__copyright small {
  color: #6d6d6d;
  font-size: 1.4rem; }

.dropdown__btn {
  color: #808080;
  font-weight: bolder;
  cursor: pointer; }

.dropdown__btn:hover {
  color: #ffc107; }

.btn--pill {
  margin-left: 1.5rem;
  display: inline-block;
  border: none;
  background-color: #ffc107;
  text-decoration: none;
  margin-top: -8px;
  padding: 1rem 1.3rem;
  color: #000;
  font-size: 1.7rem;
  border-radius: 50em;
  box-shadow: 5px 3px 13px #888888;
  transition: background-color 0.5s; }
  .btn--pill:hover, .btn--pill:active {
    background-color: #d39e00; }

.btn--shadow-none {
  box-shadow: none; }

.content .btn--pill {
  font-size: 2rem;
  padding: 1rem 2rem; }

.nav {
  background-color: black;
  height: 5.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .nav__bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 45rem; }
  .nav__bar p {
    margin-top: 0.7rem; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown__nav--button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.4rem; }
  .dropdown__content {
    display: none;
    position: absolute;
    top: 3.6rem;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .dropdown__content a {
    color: black;
    padding: 1.2rem 2rem;
    text-decoration: none;
    display: block; }
  .dropdown__content a:hover {
    background-color: #ffc107; }
  .dropdown:hover .dropdown__content {
    display: block; }

.hamburger {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 3rem;
  cursor: pointer; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff; }

@media only screen and (max-width: 75em) {
  .nav__bar {
    position: absolute;
    top: 5.4rem;
    left: -115%;
    background-color: #000;
    z-index: 100;
    padding-left: 1.7rem;
    width: 100%;
    height: 30vh;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; }
  .nav__bar.active {
    left: 0; }
  .hamburger {
    display: block; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); } }

.hero {
  background-image: url(../../images/hero-brewlab.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  background-attachment: fixed; }
  @media only screen and (max-width: 1000px) {
    .hero {
      background-attachment: initial; } }

.hero h1 {
  padding-top: 150px;
  font-weight: 600;
  margin-top: 5rem;
  height: 90vh;
  min-height: 650px; }

.kits {
  padding: 80px 0px; }
  .kits__title {
    padding: 1vh 0 0 0;
    margin-bottom: 2vh;
    display: block;
    width: 50rem; }
    @media only screen and (max-width: 797px) {
      .kits__title {
        margin: 0 auto 2vh auto;
        max-width: 37rem; } }
  .kits__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem; }
    @media only screen and (max-width: 56.26em) {
      .kits__cards {
        justify-content: center; } }
  .kits__img {
    height: 320px;
    width: 360px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }

.banner {
  padding: 80px 0px;
  margin-top: -5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .banner__img {
    min-width: 480px; }
  .banner__img--bundles {
    width: 81vw;
    height: auto;
    margin: 0 auto;
    border-radius: 10px; }
  .banner__img--infographic {
    width: 90vw;
    height: auto;
    margin: 50px auto 0 auto;
    border-radius: 10px; }

.flavors__title {
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 893px) {
    .flavors__title {
      margin: 0 auto 2vh auto;
      max-width: 56rem; } }
  @media only screen and (max-width: 494px) {
    .flavors__title a {
      display: block;
      margin-top: 1rem;
      margin-left: 0; } }

.flavors__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.3rem; }
  @media only screen and (max-width: 797px) {
    .flavors__cards {
      justify-content: center; } }

.flavors__img {
  height: 200px;
  width: 260px;
  border-radius: 5px;
  margin: 0px auto 10px auto; }

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem; }
  @media only screen and (max-width: 75em) {
    .content {
      justify-content: center; } }
  .content__card {
    border-radius: 0.3rem;
    width: 55.5rem;
    padding: 3rem 3rem;
    -webkit-box-shadow: 0px 9px 14px -2px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 9px 14px -2px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 9px 14px -2px rgba(0, 0, 0, 0.48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 587px) {
      .content__card {
        width: 90vw; } }
    .content__card a {
      margin-top: 2rem; }
    .content__card h4 {
      text-align: center; }
  .content__beginner {
    color: #fff;
    background-color: #000; }
  .content__connect {
    border: 1px solid #e4e4e4; }

.gifs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem; }
  .gifs__img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    width: 100%; }

/* Footer */
.footer {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 22rem; }
  .footer li {
    padding-bottom: 0.7rem; }
  .footer__social h4 {
    display: flex;
    gap: 2rem; }
  .footer__copyright {
    margin: 0.5rem 0 5rem 0; }
  @media only screen and (max-width: 797px) {
    .footer {
      display: none; } }

#heroabout {
  background-image: url(../../images/hero-about.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  background-attachment: fixed; }
  @media only screen and (max-width: 1000px) {
    #heroabout {
      background-attachment: initial; } }

.container-fluid h1 {
  padding-top: 150px;
  font-weight: 600;
  margin-top: 5rem;
  height: 90vh;
  min-height: 650px; }
