*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  box-sizing: border-box; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 62.5%; }

p {
  font-family: 'Poppins', sans-serif; }

h3,
h4 {
  font-weight: normal; }

.nav {
  font-size: 1.5rem; }
  .nav--company-name {
    color: white !important;
    font-size: 2rem;
    font-weight: bolder; }
  .nav--company-name:hover {
    color: #ffc107 !important; }
  .nav a:link,
  .nav a:visited {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border-bottom 0.2s, border-top 0.2s; }
  .nav a:hover,
  .nav a:active {
    color: #ffc107;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 2px solid #ffc107;
    border-top: 2px solid #ffc107; }
  .nav__bar {
    list-style: none; }

.nav {
  background-color: black;
  height: 5.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 45rem; }
  .nav__bar li {
    margin-top: 0.7rem; }
