.nav {
  background-color: black;
  height: 5.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 45rem;
  }

  &__bar li {
    margin-top: 0.7rem;
  }
}
