nav {
  background-color: black;
  height: 5.5rem;
  margin-top: 0px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
