*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $color-white;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.section {
  max-width: 1140px;
  margin: 0 auto;
}

.divider {
  max-width: 1140px; // Add media queries for this
  border: 1px solid #e5e5e5ce;
}

.section-fluid {
  @include respond(tab-land) {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1080px;
  }
}

.container-none {
  width: 1371px;
  height: 561px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
