html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 62.5%; // 10px
}

p {
  font-family: 'Poppins', sans-serif;
}

h3,
h4 {
  font-weight: normal;
}

.nav {
  font-size: 1.5rem;

  &--company-name {
    color: $color-white !important;
    font-size: 2rem;
    font-weight: bolder;
  }

  &--company-name:hover {
    color: $color-primary !important;
  }

  &__link:link,
  &__link:visited {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border-bottom 0.2s, border-top 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 2px solid $color-primary;
    border-top: 2px solid $color-primary;
  }

  &__bar {
    list-style: none;
  }
}

.kits {
  & h3 {
    font-size: 3rem;
  }

  & p {
    margin-top: 1.2rem;
    font-size: 1.9rem;
    margin-bottom: -1.5rem;
  }

  & small {
    font-size: 1.4rem;
  }
}

.flavors {
  & h3 {
    font-size: 3rem;
  }

  & p {
    margin-top: 1.2rem;
    font-size: 1.9rem;
    margin-bottom: -1.5rem;
  }

  & small {
    font-size: 1.4rem;
  }
}

.content {
  & h4 {
    font-size: 2.7rem;
  }

  & p {
    font-size: 1.4rem;
    text-align: center;
  }
}

.footer {
  & h4 {
    margin-bottom: 2rem;
  }

  & a {
    color: $gray;
    font-size: 1.4rem;

    &:hover {
      color: darken($gray, $amount: 100);
    }
  }

  &__copyright {
    & small {
      color: $gray;
      font-size: 1.4rem;
    }
  }
}
