#heroabout {
  background-image: url(../../images/hero-about.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  background-attachment: fixed;

  @media only screen and (max-width: 1000px) {
    background-attachment: initial;
  }
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & {
    // height: 40vh;
    // margin-top: 5rem;
    height: 90vh;
    min-height: 650px;
  }

  & h1 {
    font-weight: 600;
    font-size: 9rem;
  }

  & h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }
}
